<% include partials/header %>
<p></p>
<div class="text-center">
<form action="/adaugare" method="POST">
	<div>
	<p></p>
	</div>
	<input type="text" name="selected" placeholder="NumeProdus">
	<div>
	<p></p>
	</div>
	<input type="text" name="selected" placeholder="Pret">
	<div>
	<p></p>
	</div>
	<input type="text" name="selected" placeholder="Poza">
	<div>
	<p></p>
	</div>
	<input type="text" name="selected" placeholder="Data expirare">
	<div>
	<p></p>
	</div>
	<input type="text" name="selected" placeholder="O scurta descriere">
	<div>
	<p></p>
	</div>
	<button class="btn btn-primary">Adauga Produsul</button>
</form>	
</div>
<% include partials/footer %>