<% include partials/header %>


<p></p>
<div class="text-center">
	<div class="dropdown dropright">
	  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Management Produse
	  </button>
	  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<a class="dropdown-item" href="/adaugareP">Adaugarea unui produs</a>
		<a class="dropdown-item" href="/deblocheazaP">Activarea unui produs</a>
		<a class="dropdown-item" href="/blocheazaP">Dezactivarea unui produs</a>
	  </div>
	</div>
	<p></p>
	<div>
		<a href="/istoric" class="btn btn-primary">Istoric Comenzi</a>
	</div>
	<p></p>
	<div>
		<a href="/Lrecenzii" class="btn btn-primary">Listare Recenzii</a>
	</div>
</div>



<% include partials/footer %>