<% include partials/header %>
<div>
<p></p>
</div>
<div class="text-center">
	<div>
	<p></p>
	</div>
	<form action="/blocheaza" method="POST">
	<input type="text" name="selected" placeholder="Nume Produs">
	<div>
	<p></p>
	</div>
	<button class="btn btn-primary">Dezactiveaza Produsul</button>
	</form>	
</div>
<% include partials/footer %>