<!DOCTYPE html>
<html>
<title>Eroare 404</title>
<body>
<div>Ai vrut sa scrii:</div>
<% for(let i=0; i<fisiere.length;i++){%>
	<a href=http://localhost:3000/<%=fisiere[i]%>>http://localhost:3000/<%=fisiere[i]%>	</a>
	<div></div>	
	<%}%>
</body>

</html>
