<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
  background-color:#007bff;
}

* {
  box-sizing: border-box;
}

h2.headertekst {
  text-align: center;
  color: white;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color:#007bff;	
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
</style>
</head>
<body>
<h2 class="headertekst">Finalizeaza comanda</h2>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="/final" method="POST">
      
        <div class="row">
          <div class="col-50">
            <h3>Adresa de livrare</h3>
			<div class="row">
                <div class="col-50">
					<label for="fname"><i class="fa fa-user"></i> Nume</label>
					<input type="text" id="fname" name="selected" placeholder="Nume" required="required"> 
				</div>
                <div class="col-50">
					<label for="fname"><i class="fa fa-user"></i> Prenume</label>
					<input type="text" id="fname" name="selected" placeholder="Prenume" required="required">
                </div>
            </div>
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="john@example.com" required="required">
            <label for="adr"><i class="fa fa-address-card-o"></i> Adresa</label>
            <input type="text" id="adr" name="address" placeholder="Adresa" required="required">
            <label for="oras"><i class="fa fa-institution"></i> Oras</label>
            <input type="text" id="oras" name="selected" placeholder="Oras" required="required">

            <div class="row">
              <div class="col-50">
                <label for="judet">Judet</label>
                <input type="text" id="judet" name="judet" placeholder="Judet" required="required">
              </div>	
            </div>
          </div>

          <div class="col-50" id="cash" style="display:none">
            <h3>Payment</h3>
            <label for="fname">Carduri Acceptate</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Nume Card</label>
            <input type="text" id="cname" name="cardname" placeholder="John More Doe">
            <label for="ccnum">Card numar</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <label for="expmonth">Exp Luna</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="Septembrie">
            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp An</label>
                <input type="text" id="expyear" name="expyear" placeholder="2020">
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="352">
              </div>
            </div>
          </div>
          
        </div>
		<label>
			<input class="hide-checkbox" type="checkbox" value="card" onchange="cbChange(this)"> Plata cu cardu
		</label>
		<label>
        	<input class="hide-checkbox" type="checkbox" value="cash" onchange="cbChange(this)"> Plata ramburs
		</label>
        <input type="submit" value="Finalizeaza" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  

<script>

     function updateContentVisibility() {
         $('.hide-checkbox').each(function () {
             if ($(this).is(':checked')) {
                 $('#' + $(this).val()).hide();
             } else $('#' + $(this).val()).show();
         });
     }

     $('.hide-checkbox').change(function () {
         updateContentVisibility();
     });
	
	function cbChange(obj) {
    var cbs = document.getElementsByClassName("hide-checkbox");
    for (var i = 0; i < cbs.length; i++) {
        cbs[i].checked = false;
    }
    obj.checked = true;
}

</script>

</body>
</html>
