<% include partials/header %>
<div>
<p></p>
</div>
<div id='target'>
<ul>
<% recenzii.forEach(function(recenzie){%>
  <li><%= recenzie %></li>
<% }); %>
</ul>
</div>
<script>
$( "#target" ).click(function() {
	 <%-JSON.stringify(recenzii.reverse())%>
	});
</script>


<% include partials/footer %>